bpython==0.19
brotli==1.0.9
cchardet==2.1.6
cffi==1.14.3
cryptography==3.1.1
cx_Oracle==8.0.1
Cython==0.29.21
docutils==0.16
importlib_metadata==2.0.0
ipaddr==2.2.0
ipython==7.18.1
keyring==21.4.0
lockfile==0.12.2
lxml==4.5.2
mock==4.0.2
mypy_extensions==0.4.3
numpy==1.19.2
olefile==0.46
ordereddict==1.1
protobuf==3.13.0
psycopg2==2.8.6
pylibmc==1.6.1
pyOpenSSL==19.1.0
PyQt5==5.15.1
PySide2==5.15.1
python_memcached==1.59
pywatchman==1.4.1
PyYAML==5.3.1
simplejson==3.17.2
tblib==1.7.0
typing_extensions==3.7.4.3
unittest2==1.1.0
wincertstore==0.2
zipp==3.3.0
