{% extends 'stock/base.html' %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>
<p>テスト</p>

{% endblock %}