{% extends 'stock/base.html' %}
{% bootstrap_css %}
{% block content %}

<h1 class="display-3 m-5">在庫リスト</h1>
<a href="{% url 'item_list_edit' %}"><button type="button" class="btn btn-primary float-right m-2 p-3"><h2><i class="fas fa-pen"></i> 編集</h2></button></a>
<a href="{% url 'items_new' %}"><button type="button" class="btn btn-primary float-right m-2 p-3"><h2><i class="fas fa-plus"></i> 追加</h2></button></a>

<table class="table" style="font-size: 27px">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>アイテム名</th>
      <th>カテゴリ</th>
      <th>個数</th>
      <th>価格</th>
      <th>購入日</th>
      <th></th>
    </tr>
  </thead>
    <tbody>
    {% for item in items %}
      <a href="#"><div>
        <tr>
          <!-- <td>{{ item.id }}</td> -->
          <td>{{ item.name }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.bought_date }}</td>
        </tr>
      </div></a>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}