{% extends 'stock/base.html' %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
<h1>アイテム登録</h1>
<div>
<form action="{% url 'items_new' %}" method="POST" name="item_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ item_form }}
    <input type="submit" name="item_form">
</form>
</div>
<hr>
<div>
<form action="{% url 'items_new' %}" method="POST" name="photo_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ photo_form }}
    <input type="submit" name="photo_form">
</form>
</div>
{% endblock %}