{% extends 'stock/base.html' %}
{% bootstrap_css %}
{% block content %}

<h1>在庫リスト - 編集</h1>
<a href="{% url 'item_list' %}"><button type="button" class="btn btn-success float-right m-1"><i class="fas fa-check"></i> 確定</button></a>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>アイテム名</th>
      <th>カテゴリ</th>
      <th>個数</th>
      <th>価格</th>
      <th>購入日</th>
    </tr>
  </thead>
    <tbody>
    {% for item in items %}
      <div>
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.bought_date }}</td>
          <td><a href="#"><i class="fas fa-pen m-2"></i></a>
            <a href="{% url 'item_remove_confirm' pk=item.pk %}"><i class="fas fa-trash m-2" ></i></a></td>
        </tr>
      </div>
    {% endfor %}
    </tbody>
  </table>



{% endblock %}
