{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ABOUT STOCK MANAGER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="jumbotron">
  <h1 class="display-3">ABOUT APPS</h1>
  <p class="lead">Stock Manager とは？</p>
  <hr class="my-2">
  <p>ここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書くここにアプリの紹介を書く</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">アカウント登録</a>
  </p>
</div>

</body>
</html>